<?php
  $dbUsername = 'dbUsername';
  $dbPassword = "dbPassword";
  $databaseName = "dbName";
  $host = "localhost";

  $dbh = new PDO('mysql:host='.$host.';dbname='.$databaseName, $dbUsername, $dbPassword);
?>
